*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
}

section{
    margin: 1%;
    border-style: solid;
    border-width: 1px;
    border-color: #c4c4c4;
}

div {
    text-align: center;
    font-weight: 700;
}

.vertical-card{
    justify-content: center;
    align-content: center;
}

.horizontal-card{
    justify-content: center;
    align-content: center;
}

.logo-img{
    margin: 5% auto;
    display: block;
    margin-bottom: 5%;
}

.vertical-product-img{
    margin: auto;
    display: block;
}

.horizontal-product-img{
    display: flex;
}

.buy-btn{
    display: flex;
    justify-content: center; 
    align-items: center; 

    margin-left: 5%;
    margin-bottom: 5%;
    text-decoration-line: none;
    inline-size: 42px;
    block-size: 42px;
    background-color: gray;
    color: white;
    cursor: pointer;


}   

.buy-btn:hover{
    background-color: #0074E9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    inline-size: 112px;
    block-size: 42px;
}

.buy-btn::before{
 content: "구매하기 ";
 opacity: 0;
 font-size: 0;
 text-align: center;
}

.buy-btn:hover::before{
    opacity: 1;
    font-size: 13px;
}
